* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  margin-inline: 7rem;
  background-color: #6f309f;
}
nav {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 4rem;
}
nav h1 {
  font-weight: 800;
}
nav img {
  height: 1.5rem;
  padding-left: 1rem;
}
/* #02b0ef */
.container .info-container {
  display: flex;
  justify-content: space-between;
}
.container .info-left-container {
  width: 35%;
}
.container .info-right-container {
  width: 28%;
  display: flex;
  align-items: end;
}
.container .info-container .info-left-container {
  color: #fff;
}
.container .info-container .info-left-container h2 {
  font-weight: 800;
  font-size: xx-large;
}
.container .info-container .info-left-container p {
  font-size: larger;
}
.container .info-container .info-right-container p {
  color: #02b0ef;
}
.container .info-container .info-right-container span {
  color: #fff;
}

.container .route-container ol {
  font-size: 0;
  width: 100%;
  padding: 8rem 0;
}
.container .route-container ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 7.2rem;
  height: 1rem;
  background: #35174dcc;
 
}

.container .route-container  ol li h5{
    color: #fff;
    position: absolute;
    z-index: 9999;
}
.container .route-container ol li:not(:last-child)::after {
 content: '';
    position: absolute;
    top: 50%;
    left: calc(0%);
    bottom: 0;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #02b0ef;
}
.container .route-container ol li div {
    position: absolute;

    width: 6.5rem;
    font-size: large;

    color: #02b0ef;
   font-weight: 800;
}

.container .route-container ol li:nth-child(odd) div {
  top: -34px;
  transform: translateY(-100%);
}


 .container .route-container ol li:nth-child(even) div {
  top: calc(100% + 36px);
}



.container .route-container time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}








.container .button {
  display: flex;
  justify-content: center;
}
.container .button button {
  background-color: #02b0ef;
  color: #fff;
  border: none;
  font-size: larger;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
}
